body { /*Diseño de fondo de la pagina*/
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    margin: 0;
    background: linear-gradient(to right, #bea25500, #f58c803d), url(Imagenes/imagen.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.contenedor { /* Ubicacion del login */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;

}

.central { /* Tamaños de login */
    max-width: 320px;
    width: 100%;
}

.titulo { /* Diseño de titulo */
    font-size: 250%;
    color:#080808;
    text-align: center;
    margin-bottom: 20px;
}

.login {
    width: 100%;
    padding: 50px 30px;
    background-color: #ceae728c;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(177, 75, 75, 0.897);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    box-sizing: border-box;
}

.login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #0a0a09;
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #d3b383;
}

.login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #c48958;
    
    margin-top: 10px;
}

.login button:hover {
    background-color: #c95305;
    color:#060707;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #c95508;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #0f4c75;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #3282b8;
}

nav{
    position: fixed;
    top: 30px;
    left: 30px;
    display: flex;
    justify-content: flex-start;
}


nav a{ /*Diseño de menu */
    display: inline-block;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 3px solid #c5570d;
    width: 130px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    background-color: #b3771d5b;
}

.icono{ /* Menu en el Diseño de desplazamiento del menu2 */
    display: block;
    animation: moverIzquierda;
    z-index: 100;
    
}
.enlaces{/*Diseño de colores sacado de gradient(colores) y movimiento */
    position: fixed;
    display: flex;
    top: 0;
    background: black;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease-in;
    background: #3a6186;  
    background: -webkit-linear-gradient(to top, #89253e, #3a6186);  
    background: linear-gradient(to top, #89253e, #3a6186); 

}
.uno{ /*Primer desplazamiento*/
    -webkit-clip-path: circle(0% at 0% 0%);
    clip-path: circle(0% at 1% 1%);
}

.dos{ /*Segundo desplazamiento */
    -webkit-clip-path: circle(150% at 0% 0%);
    clip-path: circle(150% at 0% 0%);
}