* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-image: url(Imagenes/imagen.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
  
.form-register {
    width: 400px;
    background: #24303c69;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
  
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
  
.controls {
    width: 100%;
    background: #b48240a4;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #e08002;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(5, 4, 4);
}
  
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
  
.form-register a {
    color: white;
    text-decoration: none;
}
  
.form-register a:hover {
    color: rgb(240, 7, 7);
    text-decoration: underline;
}
  
.form-register .botons {
    width: 100%;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    text-align: center;
}
.botons button:hover{
    background-color: #c95305;
    color:#060707;
}
.botons button{
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #c48958;
    
    margin-top: 10px;
}
nav{
    position: fixed;
    top: 30px;
    left: 30px;
    display: flex;
    justify-content: flex-start;


}
nav a{ /*Diseño de menu */
    display: inline-block;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 3px solid #c5570d;
    width: 130px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    background-color: #b3771d5b;
}

.icono{ /* Menu en el Diseño de desplazamiento del menu2 */
    display: block;
    animation: moverIzquierda;
    z-index: 100;
    
}
.enlaces{ /*Diseño del menu2 en color */
    position: fixed;
    display: flex;
    top: 0;
    background: black;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease-in;
    background: #abad29;  
    background: -webkit-linear-gradient(to top, #d38d25, #af9f09);  
    background: linear-gradient(to top, #cc8417, #d1b226); 

}
.uno{ /*Primer desplazamiento*/
    -webkit-clip-path: circle(0% at 0% 0%);
    clip-path: circle(0% at 1% 1%);
}

.dos{ /*Segundo desplazamiento */
    -webkit-clip-path: circle(150% at 0% 0%);
    clip-path: circle(150% at 0% 0%);
}
footer{ /*Colores de pie de pagina */
    display: flex;
    background: #941010;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{ /*Estilo de pie de pagina */
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 4px solid #ccc;

}

.content-foo{ /*Sentido de ubicacion de pie de pagina */
    text-align: center;
}

.content-foo h4{ /*Diseño de letra de pie de pagina */
    color: #fff;
    border-bottom: 3px solid #e0cb0b;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{  /*Color de pie de pagina linea */
    color: #ccc;
}

.tittle-final{ /*Estilo de copy*/
    text-align: center;
    font-size: 24px;
    margin: 20px, 0 0 0;
    color: #030303;
}
