/* Al tener el root en el html podremos cambiar los colores a las clases sin tener que llamar uno por uni */
:root{
    --colorTextos: #f80e0ee7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arvo", serif;   
}

body{
    background: #b2c643;
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);
    background: linear-gradient(to right, #F8FFAE, #43C6AC);
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}


nav > a{
    color: #080808;
    text-decoration: none;
}

.icono{
    display: block;
    animation: moverIzquierda;
    z-index: 100;
    
}

nav>a:hover{
    text-decoration: underline;

}

.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    background: black;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease-in;
    background: #3a6186;  
    background: -webkit-linear-gradient(to top, #89253e, #3a6186);  
    background: linear-gradient(to top, #89253e, #3a6186); 

}
/* Esta parte hace referencia al menu 1 el cual cubrira el 100 % de la pantalla al darle clic*/
.uno{
    -webkit-clip-path: circle(0% at 0% 0%);
    clip-path: circle(0% at 1% 1%);
}
/* Esta parte hace referencia al menu 2, al darle clic recogera el menu 1 hasta un 0% de la pantalla*/
.dos{
    -webkit-clip-path: circle(150% at 0% 0%);
    clip-path: circle(150% at 0% 0%);
}

h1{
    text-align: center;
    font-weight: 700;
}
/*Daremos forma los campos*/
form{
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
.form{
    width: 100%;
    margin: auto;
}
form .grupo{
    position:relative;
    margin: 45px;
    display: block;
}

input{
    background-color: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{
    outline: none;
    color: rgb(94,93,93);
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-display: 12px;
    color: #2196f3;
}


.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #F8FFAE, #43C6AC);
    transition: 0.3s ease width;
    left: 0;
}
input:focus~.barra::before{
    width: 100%;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #b06ab3;
    padding-top: 20px;
}
button{
    background: #43C6AC;
    background: -webkit-linear-gradient(to right, #F8FFAE, #a739b1);
    background: linear-gradient(to right, #F8FFAE, #342577);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}